body {background-color:black; font-family: Arial; color:white}
h1{color:grey; font-family: verdana;}
.maindiv {
    background-color: white; color: black; width: 300px; padding: 20px 50px; border-radius: 25px;
}

#copyright {padding-top: 10px; font-size: small; color: darkgrey;}
span.output { background-color: yellow;}

